:root {
      --primary-color: #007bff;
      --font-size: 16px;
    }

    body {
      font-family: Arial, sans-serif;
      font-size: var(--font-size);
      background-color: #f3eff7;
      color:rgb(8, 7, 7);
      transition: all 0.3s ease;
      padding: 20px;
      align-items: center;
    }

    body.dark {
      background-color: #0b090b;
      color: #1f67a5;
    }

    h1 {
      color: var(--primary-color);
    }

    form {
      max-width: 300px;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-top: 10px;
    }

    button {
      margin-top: 15px;
      padding: 8px 12px;
      background-color: var(--primary-color);
      color: #dbe5e5;
      border: none;
      cursor: pointer;
    }

    .error {
      color: rgb(196, 37, 37);
      font-size: 14px;
      margin-top: 10px;
    }