body {
    font-family: Arial, sans-serif;
    background:rgb(91, 173, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background:white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 10px;
}

input {
    width:250px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px black;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}
