
    body{
        background-color:thistle;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .box{
        background: white;
        border-radius: 10px;
        box-shadow: 20px rgb(20, 18, 18);
        padding: 20px;
        text-align: center;

    }
   label{
    display: block;
    margin: 10px 0 5px;

   }
   input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
   }
   button{
       padding: 15px;
       background-color: rgb(158, 28, 138);
       color: aliceblue;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: 0.3s;
   }
   #result{
    border:1px solid rgb(37, 176, 65);

   }