*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    background-color:cornflowerblue;
    padding: 10px;
}
.contain{
    padding: 10px;
}
.book{
    padding: 15px;
    width: 20%;
    background-color: burlywood;
    color: black;
    margin: 30px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;

}
.book h2{
    color:crimson ;
}
.book button{
    background-color: aqua;
    border-radius: 10px;
    padding:10px 5px  10px 5px ;
}
.add{
    background-color: rgb(92, 197, 22);
    color:black;
    border-radius: 10px;
    padding: 10px  10px ;
    font-size: 30px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;

}
.over{
    background-color:rgb(12, 11, 11);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index:1;
    opacity: 0.8;
    display: none;
    }
.popup{
    background-color: #fd6569;
    width:35%;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left:30%;
    z-index: 2;
    display: none;
    }
    h2{
        
        text-align: center;
    }
.popup input{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size:20px;
    border: solid white;
     

}
.popup textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size:20px;
    border: solid white;
     

}
#addbook{
    border: 1px solid black ;
    width:70px;
    border-radius: 10px;
    cursor: pointer;

}
#cancelbook{
    border: 1px solid black ;
    width:70px;
    border-radius: 10px;
    cursor: pointer;

}